<?xml version="1.0"?>
<model>
  <name>apollo_lunar_module</name>
  <version>0.1.0</version>
  <author>
   <name>Jasper Grant</name>
   <email>jasper.grant@dal.ca</email>
  </author>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    Apollo Lunar Module taken from https://nasa3d.arc.nasa.gov/detail/lunarlandernofoil-c
  </description>
</model>
