<?xml version="1.0"?>
<model>
  <name>moon_mons_mouton</name>
  <version>0.1.0</version>
  <author>
   <name>Robin BARAN</name>
   <email>r-baran@hotmail.fr</email>
  </author>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    The Mons Mouton (also called Liebniz Beta) is located near the south pole of the moon and has been sighted as landing zone for assessing water ice deposits. This model was generated according to site20 by using DEM from the NASA LRO mission: https://pgda.gsfc.nasa.gov/products/78 (Barker, M.K., et al. (2021), Improved LOLA Elevation Maps for South Pole Landing Sites: Error Estimates and Their Impact on Illumination Conditions, Planetary & Space Science, Volume 203, 1 September 2021, 105119,  doi:10.1016/j.pss.2020.105119.)
  </description>
</model>
