<?xml version="1.0"?>
<model>
  <name>ingenuity</name>
  <version>0.1.0</version>
  <author>
   <name>Davide Zamblera</name>
   <email>davide.zamble@gmail.com</email>
  </author>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    Terrain model of jezero crater, landing site of Ingenuity and Perseverance. Source 3D Models: "Jezero Crater CTX DTM" (https://skfb.ly/6U6Iq) by martinjpratt
  </description>
</model>