<?xml version="1.0"?>

<model>
  <name>smoke_generator</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Carlos Aguero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <description>
    A smoke generator.
  </description>

  <depend>
  </depend>
</model>
