<?xml version="1.0"?>
<model>
  <name>lunar_roving_vehicle</name>
  <version>0.1.0</version>
  <author>
   <name>Jasper Grant</name>
   <email>jasper.grant@dal.ca</email>
  </author>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    Lunar Roving Vehicle. Original mesh from https://sketchfab.com/3d-models/mondfahrzeug-lunar-rover-acb3f8645a69493cb211a62b40d66aab
  </description>
</model>
