<?xml version="1.0"?>
<model>
  <name>ingenuity</name>
  <version>0.1.0</version>
  <author>
   <name>Davide Zamblera</name>
   <email>davide.zamble@gmail.com</email>
  </author>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    NASA's Ingenuity helicopter has made history by successfully taking flight on Mars. Source 3D Models: https://nasa3d.arc.nasa.gov/detail/ingenuity_thumb
  </description>
</model>